<div class="card m-3 fs-4">
    <h3 class="card-header" style="background-color: #00709E; color: white">Запись #: {{ note[0] }}</h3>
    <div class="card-body">
        <p class="card-text">Дата записи: {{ note[1] }}</p>
        <p class="card-text">Осмотр провел: {{ note[3] }} {{ note[4] }} {{ note[5] }}</p>
        <p class="card-text">Идентификационный номер врача: {{ note[6] }} </p>
        <div class="p-3" style="border: 2px solid #00709E">
            <p class="card-text"> {{ note[2] }}</p>
        </div>
    </div>
</div>