{% extends "base.html" %}

{% block content %}
<div class="fs-1 text-centering p-5">
    Пожалуйста проверьте паспортные данные пациента и выберете для него врача.
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-8">
            <form class="fs-4 p-5 w-75" action="/appointment/new_patient" method="post">

                <div class="mb-3">
                    <label for="InputPatient" class="form-label">Выбрать пациента</label>
                    <select id="InputPatient" name="patient" class="fs-4 form-select mt-2 mb-2" required>
                        {% for patient in patients %}
                        <option class="fs-4" value="{{ patient[0] }}">Фамилия: {{ patient[1] }}, паспорт: {{ patient[2] }}</option>
                        {% endfor %}
                    </select>
                    <label for="InputRoom" class="form-label">Выбрать палату</label>
                    <select id="InputRoom" name="room" class="fs-4 form-select mt-2 mb-2" required>
                        {% for room in rooms %}
                        <option class="fs-4" value="{{ room[0] }}">Комната: {{ room[1] }}, сейчас пациентов {{ room[2] }}</option>
                        {% endfor %}
                    </select>
                    <label for="InputDoctor" class="form-label">Привязать врача</label>
                    <select id="InputDoctor" name="doctor" class="fs-4 form-select mt-2 mb-2" required>
                        {% for doctor in doctors %}
                        <option class="fs-4" value="{{doctor[0]}}">{{ doctor[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-centering">
                    <button type="submit" class="submit-btn w-50">Записать пациента</button>
                </div>
            </form>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
{% endblock %}