{% extends "base.html" %}

{% block content %}
<div class="fs-1 text-centering">
    Пожалуйста выберете пациента, проходившего лечение ранее, чтобы записать его на повторное лечение.
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-8">
            <form class="fs-4 p-5 w-75" action="/appointment/rewrite" method="post">
                <div class="mb-3">
                    <label for="InputDoctor" class="form-label">Пациент</label>
                    <select id="InputDoctor" name="patient" class="fs-4 form-select mt-2 mb-2" required>
                        {% for patient in patients %}
                        <option class="fs-4" value="{{ patient[0] }}">{{ patient[1] }} {{ patient[2] }} {{ patient[3] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="InputDiagnose" class="form-label">Жалобы</label>
                    <input type="text" class="form-control" id="InputDiagnose" name="diagnose" required>
                </div>
                <div class="text-centering">
                    <button type="submit" class="submit-btn w-50">Записать пациента</button>
                </div>
            </form>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
{% endblock %}